/* reset */

*{
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
}
body , html{
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}
a:hover{
    text-decoration: none;
}

/* bg */
.bg-left{
    background-image: url(image/沙.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-right{
    background-image: url(image/煙.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;  
}

/* navbar */
.navbar{
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
}
.logo{
    height: 24px;
    display: inline-block;
    margin-left: 20px;
}
.menu{
    color: #FFF;
    font-size: 16px;
    line-height: 100px;
    white-space: nowrap
}
.menu:hover {
    color: rgba(256, 256, 256, .5);
}
.menu-icon{
    color: #FFF;
    padding: 10px;
    font-size: 24px;
    display: none;
}

/* main */
.main{
    position: absolute;
	top: 150px;
	left: 75px;
    height: 300px;
}
/* title */
.title{
    color: #fff;
    font-size: 116px;
    font-weight: bold;
}
.smallTitle{
    color: #fff;
    font-size: 24px;
    display: inline-block;
    position: absolute;
    text-align: right;
    font-weight: bold;
}
.smallTitle:before{
    content:'';
    position:absolute;
    background-color:#fff;
    width: 40px;
    display: inline-block; 
    top: 55%;
    text-align: right;
    right: 100px;
    height:3px;
}

/* picrure */
.picture-box{   
    height: 330px;
    overflow: hidden; 
    display: inline-block;  
}
.picture{
    position: absolute;
    top: -60%;
    width: 100%;   
}

/* underArea */
.underArea{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 50%;
    height: 70px;
}
/* underArea picture */
.picture-info{
    background-color: #fff;
    text-align: right;
    color: #212529;
    font-family: 'Prompt', sans-serif;
    cursor: auto
}
.picture-info:hover {
    color: #212529;
}
.picture-name{
    padding-top: 20px;
    line-height: 15px;
    display: inline-block; 
    margin-bottom: -5px;   
}
.picture-name:before{
    content:'';
    position:absolute;
    background-color:#212529;
    display: inline-block; 
    top: 70%;
    left:-35px;
    height:1px;
}
.picture-info:hover .picture-name:before{
    background-color: rgba(0,0,0, 0.5);   
}
.author{
    line-height: 12px;
}
/* underArea viewAll */
.viewAll{
    background-color:#212529;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: #fff;
}
.viewAll:hover {
    color: rgba(256, 256, 256, .5);
}
.fa-arrow-right{
    font-size: 16px;
    padding-left: 10px;
}

/* rwd */
@media screen and (min-width: 992px) {
    .main{
        top: 200px;
    }
    .container {
        max-width: 95%;
      }
    .smallTitle{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .picture-box{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
        flex: 0 0 45%;
    }
    .picture{
        top: -50%
    }
    .logo{
        margin-left: 0px;
    }
}
@media screen and (max-width: 991px) {
    .bg-right{
        display: none;
    }
    .title{
        font-size: 96px;
    }
    .main{  
        -ms-flex-line-pack:justify;  
        align-content:space-between;
        -ms-flex-wrap: wrap-reverse ;
        flex-wrap: wrap-reverse ;  
    }
    .p-b-lg-50{
        padding-bottom: 50px
    }
    .smallTitle{
        padding-bottom: 10px;
    }
    .picture-box{
        height: 280px;
    }
}
@media screen and (max-width: 768px) {
    .title{
        font-size: 96px;
    }
    .picture{
        top: -60%
    }
    .underArea{
        width: 100%;
    }
    .navbar .container{
        display: none;
    }
    .menu-icon{
        display: inline-block;
    }
}
@media screen and (max-width: 576px) {
    .p-0{
        padding: 0;
        margin: 0
    }
    .bg-left{
        width: 100%;
    }
    .main{
        top: 100px;
        margin-left: -40px;
    }   
    .p-b-lg-50{
        padding-bottom:0;
    }
    .title{
        font-size: 72px;
    }
    .smallTitle{
        display: none;
    }
    .picture-box{
        max-width: 80%;
    }
    .picture{
        width: 100%;
        top: -40%;
    }
    .picture-info{
        width: 75%;
    }
    .viewAll{
        width: 25%;
    } 
    .phone{
        padding-right: 0;
        padding-left: 0;
    }
}

/* navbarMenu */
.navbarMenu{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color:rgba(10, 10, 10, .9);
    width: 100%;
    display: none;
    z-index: 100;
}
.btn{
    color: #fff;
    border: 3px solid #ffffff;
    display: inline-block;
    padding: 8px 10px;
    text-align: center;
    width: 120px;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    overflow: hidden;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 200;
}
.btn1-1{
    top: 30%;
}
.btn2-1{
    top: 50%
}
.btn3{
    top: 70%
}
.btn:before{
    content: "";
    position: absolute;
    width: 320px;
    height: 320px;
    border-radius: 130px;
    background-color: #fff;
    top: 50px;
    left: 50px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    -webkit-animation: wave 5s infinite linear;
    animation: wave 5s infinite linear;
    -webkit-transition: all 1s;
    transition: all 1s;
}
@-webkit-keyframes wave{
    0%{
        -webkit-transform: translateX(-50%) rotate(0deg);
        transform: translateX(-50%) rotate(0deg);
    }
    100%{
        -webkit-transform: translateX(-50%) rotate(360deg);
        transform: translateX(-50%) rotate(360deg);
    }
}
@keyframes wave{
    0%{
        -webkit-transform: translateX(-50%) rotate(0deg);
        transform: translateX(-50%) rotate(0deg);
    }
    100%{
        -webkit-transform: translateX(-50%) rotate(360deg);
        transform: translateX(-50%) rotate(360deg);
    }
}

/* login */
.form-wrapper{
    display: none;
}
.form a{
    text-decoration: none;
    color: #b5bebc;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.form a:hover {
    color:  rgb(40, 94, 128);
}
.form-wrapper{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color:rgba(10, 10, 10, .5);
    z-index: 80;
    top: 0;
}
.form{
    background-color:rgb(10, 10, 10);
    padding: 40px;
    width: 90%;
    margin: 5%;
    border-radius: 6px;
    -webkit-box-shadow: 0 15px 20px rgba(13, 13, 14, .7);
    box-shadow: 0 15px 20px rgba(13, 13, 14, .7);
    position: absolute;
    z-index: 100;
}
.top-group{
    list-style: none;
    padding: 0;
    margin: 0 0 30px 0;
}
.top-group:after{
    content: "";
    display: table;
    clear: both;
}
.top-group li a{
    display: block;
    padding: 15px;
    background: rgb(69, 71, 73);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}
.top-group li a:hover{
    background-color:  rgb(40, 94, 128);
    color: #fff
}
.top-group .active {
    background-color: rgb(78, 132, 165);
    color: #fff;
}
.content > div:first-child{
    display: none;
}
.content h1{
    color: #fff;
    font-weight: 300;
    margin: 0 0 40px;
}
label{
    position: absolute;
    -webkit-transform: translateY(6px);
          transform: translateY(6px);
    left:13px ;
    color: rgba(255, 255, 255, .5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    font-size: 22px;
    pointer-events: none;
}
label .req {
    margin: 2px;
    color:rgb(40, 94, 128);
}
label.active {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
    left: 2px;
    font-size: 14px;
    color: #ffffff;
}
label.active .req {
    opacity: 0;
}
input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #fff;
    color: #ffffff;
    -webkit-transition: border-color 0.25s ease, -webkit-box-shadow 0.25s ease;
    transition: border-color 0.25s ease, -webkit-box-shadow 0.25s ease;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
    transition: border-color 0.25s ease, box-shadow 0.25s ease, -webkit-box-shadow 0.25s ease;
}
input:focus, textarea:focus {
    outline: 0;
    border-color: rgb(40, 94, 128);
} 
.field{
    position: relative;
    margin-bottom: 30px;
}
.button{
    border: 0;
    outline: none;
    padding: 15px 0;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: rgb(78, 132, 165);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: block;
    width: 100%;
    color: #fff;
    cursor: pointer;
}
.button:hover, .button:focus {
    background-color: rgb(40, 94, 128);
}
.forgot{
    margin-top: -30px;
    text-align: right;
}
@media (min-width: 576px) {
    .field{
        margin-bottom: 40px;
    }
    .top-group{
        margin-bottom: 40px;
    }
    .form{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media (min-width: 768px) {
    .form{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media (min-width: 992px) {
    .form{
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
    }
}
@media (min-width: 1200px) {
    .form{
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 2%;
    }
}
@media (max-width: 320px) {
    .form{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 0;
    }
    .button{
        font-size: 20px;
    }
}
