*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;   
}
hr{
    width: 90%
}
a:hover{
    text-decoration: none;
    color:rgba(256,256,256, 0.5);
}
.menuAll{
    display: none;
}
.navbar{
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    background-color: #212529;
    width:100%;
    z-index: 10;
}

/* menu-icon */
.menu-icon{
    color: #FFF;
    font-size: 20px;
}
.logo{
    height: 34px;
    display: inline-block;
    text-align: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: fixed;
    z-index: 10;
    top: 10px;
}
.login , #user{
    font-size: 20px;
    color: #fff;
    position: fixed;
    right: 40px;
    z-index: 10;
    top: 10px
}
.login:hover{
    color:rgba(256,256,256, 0.5);
}
.fa-caret-down{
    position: fixed;
    z-index: 10;
    right: 15px;
    cursor: pointer;
    color: #fff;
    display: none;
}

/* header */
.header{
    top: 50px;
    position: absolute;
    margin-top: 30px;
    width: 95%;
}
.head{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-size: cover;
    background-position: center;
    margin-left: 20px;
    float: left;  
}
.header::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.name{
    float: left;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
    margin-left: 10px;
}
.follow{
    float: right;
    border: 1px solid #5793cf;
    border-radius: 3px;
    padding: 0 10px;
    color: #5793cf;
    margin-top: 3px;
    cursor: pointer;
}
.follow-active{
    background: #5793cf;
    color: #fff
}
/* work */
.imgbox{
    margin-top: 120px;
}
.img{
    width: 100%; 
}
.Popularity{
    color: #bbb;
    height: 30px;
    margin: 10px;
    width: 90%;
    position: relative;
}
i{
    font-size: 20px;
    padding-left: 10px;
    cursor: pointer;
}
.heart:hover{
    color: rgb(247, 91, 91)
}
.fa-comment-alt:hover{
    color: rgb(101, 107, 121)
}
.fa-share{
    color: #bbb
}
.fa-share:hover{
    color: rgb(101, 107, 121)
}
span{
    font-size: 20px;
}
.fb-share-button{
    width: 60px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 5px;
}
.comment-text{
    border: 1px solid rgb(240, 237, 237);
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
    color: #212529;
    width: 90%;
    margin-left: 5%;
    display: inline-block;
    font-size: 16px;
    resize: none;
    display: none;
}
.comment-text:focus{
    border: 1px solid #ddd; 
}
.new{
    display: none
}

/* work-info */
.work-info{
    margin: 0 20px;
}
.work-name{
    font-size: 24px;
    font-weight: 600;
}

/* response */
.cleanfix::after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.response{
    margin:0 20px 30px 60px;
    padding-right: 50px;
}
.new-c{
    width: 90%;
}
.new-c::after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.new-response{
    float: left;
}
.fa-edit{    
    color: #bbb;
    float: right;
    display: none;
}
.fa-edit:hover{
    color: rgb(101, 107, 121);  
}
.edit{
    margin-left: 60px;
    width: 60%;
    border-radius: 10px;
    border: 1px solid #bbb;
    padding-left: 5px;
}
.edit:focus{
    border:1px solid #bbb;
}


/* login之後出現的 */
.downMenu{
    position: absolute;
    top: 49px;    
    right: 0px;
    padding-left: 0;
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    display: none;
    -webkit-box-shadow: 0 5px 10px rgba(100, 100, 100, 0.5);
    box-shadow: 0 5px 10px rgba(100, 100, 100, 0.5)
}
.downMenu li{
    list-style: none;   
    display: block;
    border-top: 1px solid rgba(256,256,256, 0.1);
    background-color: #212529;
    padding: 5px;
    cursor: pointer;
}
.downMenu i{
    padding-right: 5px;
    font-size: 16px
}
.downMenu li a{
    display: block;
    color: #fff;
}
.downMenu li:hover{
    background-color:#3c3d3f;  
}

/* rwd */
@media (min-width: 576px) {
    .header{
        width: 500px;
        top:90px;
    }
    .head{
        margin-left: 0
    }
    .Popularity{
        width: 95%;
    }
    .inner-wrapper{
        width: 500px;
        margin:0 auto;
        padding:40px 0px;
    }
}
@media (min-width:768px) {
    .navbar{
        height: 60px;
    }
    .menuAll{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: fixed;
        top: 5px;
        left: 100px;
        color: #fff;
        z-index: 30;
        width: 20%
    }
    .menu{
        color: #FFF;
        font-size: 20px;
        line-height: 50px;
        text-align: center;
        white-space: nowrap;
    }
    .menu-icon{
        display: none;
    }
    .login{
        padding-top: 5px;
    }
    .logo{
        left: 50px;
        height: 24px;
        margin-top: 8px;
    }
    hr{
        width: 100%;
    }
    .downMenu{
        width: 150px;
        top: 60px;
    }
    .comment-text{
        width: 96%;
        margin-left: 2%;
    }
}
@media (min-width:1200px) {
    .header{
        width: 600px;
    }
    .inner-wrapper{
        width: 600px;
    }
}


/* navbarMenu */
.navbarMenu{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color:rgba(10,10,10,0.9);
    width: 100%;
    display: none;
    z-index: 100;
}
.btn{
    color: #fff;
    border: 3px solid #ffffff;
    display: inline-block;
    padding: 8px 10px;
    text-align: center;
    width: 120px;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    overflow: hidden;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.btn1-1{
    top: 35vh;
}
.btn2-1{
    top: 60vh
}
.btn:before{
    content: "";
    position: absolute;
    width: 320px;
    height: 320px;
    border-radius: 130px;
    background-color: #fff;
    top: 50px;
    left: 50px;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    -webkit-animation: wave 5s infinite linear;
    animation: wave 5s infinite linear;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
@-webkit-keyframes wave{
    0%{
        -webkit-transform: translateX(-50%) rotate(0deg);
        transform: translateX(-50%) rotate(0deg);
    }
    100%{
        -webkit-transform: translateX(-50%) rotate(360deg);
        transform: translateX(-50%) rotate(360deg);
    }
}
@keyframes wave{
    0%{
        -webkit-transform: translateX(-50%) rotate(0deg);
        transform: translateX(-50%) rotate(0deg);
    }
    100%{
        -webkit-transform: translateX(-50%) rotate(360deg);
        transform: translateX(-50%) rotate(360deg);
    }
}


/* login */
.form-wrapper{
    display: none;
}
.form a{
    text-decoration: none;
    color: #b5bebc;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}
.form a:hover {
    color:  rgb(40, 94, 128);
}
.form-wrapper{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color:rgba(10,10,10,0.5);
    z-index: 80;
    top: 0;
}
.form{
    background-color:rgb(10,10,10);
    padding: 40px;
    width: 90%;
    margin: 5%;
    border-radius: 6px;
    -webkit-box-shadow: 0 15px 20px rgba(13, 13, 14, 0.7);
    box-shadow: 0 15px 20px rgba(13, 13, 14, 0.7);
    position: absolute;
    z-index: 100;
}
.top-group{
    list-style: none;
    padding: 0;
    margin: 0 0 30px 0;
}
.top-group:after{
    content: "";
    display: table;
    clear: both;
}
.top-group li a{
    display: block;
    padding: 15px;
    background: rgb(69, 71, 73);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}
.top-group li a:hover{
    background-color:  rgb(40, 94, 128);
    color: #fff
}
.top-group .active {
    background-color: rgb(78, 132, 165);
    color: #fff;
}
.content > div:first-child{
    display: none;
}
h1{
    text-align: center;
    color: #fff;
    font-weight: 300;
    margin: 0 0 40px;
}
label{
    position: absolute;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    left:13px ;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    font-size: 22px;
    pointer-events: none;
}
label .req {
    margin: 2px;
    color:rgb(40, 94, 128);
}
label.active {
    -webkit-transform: translateY(45px);
    -ms-transform: translateY(45px);
    transform: translateY(45px);
    left: 2px;
    font-size: 14px;
    color: #ffffff;
}
label.active .req {
    opacity: 0;
}
form input, form textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #fff;
    color: #ffffff;
    -webkit-transition: border-color 0.25s ease, -webkit-box-shadow 0.25s ease;
    transition: border-color 0.25s ease, -webkit-box-shadow 0.25s ease;
    -o-transition: border-color 0.25s ease, box-shadow 0.25s ease;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
    transition: border-color 0.25s ease, box-shadow 0.25s ease, -webkit-box-shadow 0.25s ease;
}
input:focus, textarea:focus {
    outline: 0;
    border-color: rgb(40, 94, 128);
} 
.field{
    position: relative;
    margin-bottom: 30px;
}
.button{
    border: 0;
    outline: none;
    padding: 15px 0;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: rgb(78, 132, 165);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: block;
    width: 100%;
    color: #fff;
    cursor: pointer;
}
.button:hover, .button:focus {
    background-color: rgb(40, 94, 128);
}
.forgot{
    margin-top: -30px;
    text-align: right;
}
@media (min-width: 576px) {
    .field{
        margin-bottom: 40px;
    }
    .top-group{
        margin-bottom: 40px;
    }
    .form{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media (min-width: 768px) {
    .form{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media (min-width: 992px) {
    .form{
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
    }
}
@media (min-width: 1200px) {
    .form{
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 2%;
    }
}
@media (max-width: 320px) {
    .form{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 0;
    }
    .button{
        font-size: 20px;
    }
    
}

